@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
html {
  font-size: 10px;
}
body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
.section, .article, .nav, .footer, .header {
  display: block;
}
.flex-block {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.header {
  background: url(../img/sample2.jpg);
  background-size: cover;
  height: 740px;
  width: 1200px;
  margin: 0 auto;
}
.container__fixed {
  max-width: 1117px;
  margin: 0 auto;
}
.header__panel {
    margin: 33px 0 0 0;
    width: 100%;
    display: inline-block;
}
.panel {
  align-items: center;
}
.panel__logo {
  margin-top: -4px;
  color:  #ffffff;
  font-size: 17px;
}
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu__item {
  display: inline-block;
  margin-left: 37px;
}
.menu__link {
  display: inline-block;
  height: 42px;
  line-height: 42px;
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 0 8px;
}
.info {
  text-align: center;
}
.info__logo {
  margin: 180px 26px 0px 33px;
  font-size: 51px;
  color: #ffffff;
  letter-spacing: 7px;
}
.info__logo span {
  font-size: 96px;
}
.info__year {
  font-size: 14px;
  color: #fff;
  word-spacing: 2px;
}
.info__nav {
  display: flex;
}
.info__nav a {
  color: #fff;
  text-decoration: none;
  border:  2px solid #fff;
  width: 226px;
  height: 56px;
  display: block;
  margin: 170px auto 0;
  line-height: 56px;
  background: #000000;
  font-size: 14px;
}
.container__articles {
  width: 1200px;
  margin: 0 auto;
  height: 263px;
  background: -webkit-linear-gradient(79deg, #F0F0F0 0%, #F0F0F0 50%, #000000 50%, #000000 71%, #000000 100%);
}
.articles {
  padding: 140px 0 150px;
}
.articles__brief {
  display: block;
  position: relative;
  top: -31px;
  width: 379px;
  font-size: 19px;
}
.bold-text {
  font-weight: bold;
}
.articles__text {
  display: block;
  position: relative;
  left: 25px;
  bottom: 131px;
  width: 50%;
  font-size: 14px;
  color: #ffffff;
}
.container__featured-articles {
  width: 1200px;
  margin: 0 auto;
}
.featured-articles {
  background: #F0F0F0;
}
.featured-articles__heading {
  text-align: center;
  font-weight: normal;
  margin: 0 0 1px;
  font-size: 24px;
  display: block;
  position: relative;
  bottom: 37px;
}
.featured-articles__articles-list {
  margin-bottom: 60px;
  padding-bottom: 45px;
}
.articles-list{
  flex-wrap: wrap;
}
.articles-list__img-article {
  margin-bottom: 1px;
}
.img-article {
  width: 558px;
  height: 300px;
  position: relative;
  object-fit: cover;
}
.img-article_square {
  width: 478px;
  font-size: 13px;
  text-align: center;
  padding-top: 33px;
  letter-spacing: 1px;
}
.img-article__img {
  width: 100%;
  height: 317px;
  position: absolute;
}
.img-article__text {
  position: absolute;
  bottom: 0;
  color: #fff;
  height: 109px;
  width: 100%;
  padding: 70px 0 0 35px;
  box-sizing: border-box;
  margin: 0;
}
.date {
  color: #fff;
  position: absolute;
  top: 257px;
  left: 24px;
  font-size: 15px;
  font-weight: bold;
}
.likes {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  line-height: 30px;
  border: 2px solid #ffffff;
  font-size: 12px;
  text-align: center;
  position: absolute;
  height: 30px;
  top: 25px;
  left: 470px;
  padding: 0px 13px;
  background-color: rgba(0,0,0,0.3);
}

.featured-articles__subscribe-block {
  width: 1200px;
  margin: 40px auto;
  background-color: #F0F0F0;
}
.subscribe-block {
  background: #fff;
  padding: 62px 30px;
  background-color: #F0F0F0;
}
.subscribe-block__subscribe-form {
    margin-left: 545px;
}
.subscribe-form {
  align-items: center;
}
.subscribe-form__label {
  width: 334px;
  display: block;
  font-size: 24px;
}
.subscribe-form__textfield {
  width: 149px;
  height: 36px;
  border: 1px solid #000000;
  padding-left: 8px;
  box-sizing: border-box;
  font-size: 14px;
}
.subscribe-form__btn {
  width: 84px;
  height: 38px;
  background: #097774;
  color: #fff;
  border: 0;
}
.container__about-company {
    width: 100%;
    margin: 0px 0;
}
.about-company {
    margin: 0 auto;
}
.about__item {
  width: 19%;
  overflow: hidden;
  height: 300px;
}
.about__item_width {
  width: 25%
}
.about-item {
    position: absolute;
} 
.about__item_contact {
  width: 15%;
  line-height: 28px;
}
.about-item__text {
  font-size: 14px;
  color: #9e9e9e;
  margin-top: 0px;
}
.about-item__text_italic {
  font-style: italic;
}
.about-item__time {
  font-size: 14px;
  color: #dbdbdb;
}
.about__item img {
  width: 225px;
  height: 300px;
  object-position: left;
  object-fit: cover;
}
.about-item__link {
  color: #fff;
  text-decoration: none;
  width: 200px;
  height: 35px;
  display: block;
  margin: -75px auto 0;
  line-height: 35px;
  background: rgba(9,119,116,0.8);
  font-size: 14px;
  text-align: center;
  position: absolute;
  font-weight: bold;
  top: 207px;
  left: 13px;
}
.about-item__date {
  color: #fff;
  position: absolute;
  top: 243px;
  left: 24px;
  font-size: 13px;
  font-weight: bold;
}
.about-item__likes {
  background-color: rgba(0,0,0,0.3);
  color: #fff;
  text-decoration: none;
  display: inline-block;
  line-height: 30px;
  border: 2px solid #ffffff;
  font-size: 12px;
  text-align: center;
  position: absolute;
  height: 30px;
  top: 25px;
  left: 160px;
  padding: 0px 8px;
}
.news__link {
  margin-top: 131px;
}
.news__link a {
    color: #fff;
    text-decoration: none;
    width: 300px;
    height: 50px;
    display: block;
    margin: -75px auto 0;
    line-height: 50px;
    background: #097774;
    font-size: 14px;
    text-align: center;
}
.subscribe-block p {
  font-size: 14px;
}
.container__footer {
  width: 1200px;
}
.footer {
  background-color: #ffffff;
}
.footer-info {
  border-top: 2px solid #f0f0f0;
  padding: 4px 0px;
  font-size: 14px;
}   
.copyright {
  color: #9e9e9e;
  padding-top: 10px;
}
.menu__link_black {
  color: #000;
}



