$bgheader: url(../img/m-h-night.jpg);
$bg-color: #21232E;
$logo-header: #FEFEFE;
$header-text: #FEFEFE;
$bg-button: #E3AC00;
$button-text: #FEFEFE;
$heading: #FEFEFE;
$card-heading: #FEFEFE;
$card-text: #BFBFB3;
$banner-heading: #FEFEFE;
$bunner-text: #BFBFB3;
$logo-footer: #FEFEFE;
$footer-text: #BFBFB3;
$bg-footer: #3B3F50;
$bg-card: #3B3F50;
$underline: #FF4E33;
$gradient1: #E3AC00;
$gradient2: #943050;
