$bgheader: url(../img/m-h-day.jpg);
$bg-color: #FEFEFE;
$logo-header: #2C2F3C;
$header-text: #2C2F3C;
$bg-button: #699900;
$button-text: #FEFEFE;
$heading: #2C2F3C;
$card-heading: #FEFEFE;
$card-text: #BFBFB3;
$banner-heading: #2C2F3C;
$bunner-text: #BFBFB3;
$logo-footer: #BFBFB3;
$footer-text: #BFBFB3;
$bg-footer: #21232E;
$bg-card: #21232E;
$underline: #14A0C7;
$gradient1: #699900;
$gradient2: #2E5CD2;